<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo API</title>
</head>
<h1>Node Todo Api</h1>
<p>A Todo Api implemented using NodeJS to perform basic CRUD operations and simulate a To-Do list app.</p>

<h3>Libraries / Frameworks used</h3>
<ul>
    <li>Mongoose ORM for MongoDB</li>
    <li>Express</li>
    <li>Body-Parser module</li>
</ul>

<h3>For API Usage details please visit: <a href="https://github.com/AshishSalaskar1/Node-Todo-Api">Github Repo</a></h3>


<body>
    
</body>
</html>